<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="School_Administration_System_v2.Properties.Settings.StudentDBConnectionString3"
            connectionString="Data Source=DESKTOP-5BN9EJ4\SQLEXPRESS;Initial Catalog=StudentDB;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>